<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Broken Quotes</h1>

  <p>  Broken Quotes from History was inspired by the online web development boot camp <a target="_blank" href="http://www.thefirehoseproject.com/">the firehose project</a>. The author strangely decided splicing famous quotes from history would be funny, clever, or at least a good way to practice interfacing a website with a database.

  </p>

  <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'bfh_image.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1", style="text-align:center;">
    <h2 class="text-center">Brad Habenicht</h2>
    <br />
    <p> 
         Brad Habenicht is the author of 11 peer reviewed publications, 2 book chapters and co-author of an actual book. His odd sense of humor has been on the loose for well over 3 decades. He is a doctor, but decidedly not the type that can save your life.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />


